* {box-sizing:border-box}

/* .Contenitore {
  max-width: 1000px;
  position: relative;
  margin:auto;
  margin-top:6%;
} */

.Immagineslide {
    display: none;
  }

/* Bottoni destra/sinistra */
.Sinistra, .Destra {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Posizione bottone destra */
.Destra {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.Sinistra:hover, .Destra:hover {
  background-color: rgba(0,0,0,0.8);
}
